<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'Facilities in ' + ${city}">Facilities in City</title>
</head>
<body>
    <h1 th:text="'Facilities found in ' + ${city}">Facilities found in City</h1>

    <ul>
        <li th:each="facility : ${facilities}">
            <a th:href="@{/bookingMenu/{facility_id}(facility_id=${facility.id})}">
                <p th:text="${facility.name}"></p>
            </a>
                <p th:text="${facility.toString()}"></p>
                <p>Total Workstations: <span th:text = "${facility2workstations[facility.id]}"></span></p>
        </li>
    </ul>

    <div class="actions">
        <a href="/" class="button">Return Home</a>
    </div>
</body>
</html>
